@import "./styles/variables";

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.slightContainer {
  height: 75vh;
}

.box-gallery {
  /* position: relative; */
  top: 83px;
  margin-bottom: 70px;
  z-index: -1;
}